body {
    margin: 0px;
}

.head {
    background-color: #1f2711;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 200px 200px;
}

.main-start {
    background-color: white;
    padding: 150px;
}

.block2 {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.heading-main-start {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}

.frame {
    border-radius: 25px;
    border: 2px solid #000f04;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.main-center{
    background-color: rgb(48, 68, 4);
    padding: 150px;
}

.main-end {
    background-color: white;
    padding: 100px 150px;
}

.main {
    background-color: #578000;
}

.footer {
    background-color: #5b7230d4;
    padding: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}

.menu-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.button1 {
margin-top: 15px;
background-color: #00b815;
color: rgb(127, 85, 8);
font-size: 15px;
font-weight: 600;
min-width: 100px;
height: 40px;
border-radius: 12px;
}

.img {
    align-self: center;
}

img {
    width: 350px;
    height: 220px;
    align-self: flex-end;
}

.head-text { 
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

a {
    text-decoration: none;
    color: grey;
}

.head-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.header-logo-text {
    color: #F9FAF8;
    font-size: 24px;
}

.text {
    font-size: 18px;
    color: grey;
}

.cool-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: rgb(12, 12, 9);
}

.main {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button2 {
    border-radius: 8px;
    width: 90px;
    height: 35px;
    background-color: #578000;
    font-size: 18px;
    color: rgb(1, 1, 1);
    align-self: center;
}

.heading-main-end {
    font-size: 24px;
    max-width: 400px;
}

.text-end {
    max-width: 600px;
}

.text-main-start {
    max-width: 150px;
}